/*
-------------------------
Footer
-------------------------
*/

.footer {
	background-color: $gray-lite;
	font-size: rem-calc(16);
	font-weight: 700;
	min-height: rem-calc(90);
	padding: rem-calc(32 0 0 0);

	&-social {
		padding-top: rem-calc(5);

		&__icon {
			background: $primary-color;
			border-radius: rem-calc(35);
			color: white;
			display: inline-block;
			height: rem-calc(35);
			line-height: rem-calc(35);
			margin-right: rem-calc(5);
			text-align: center;
			width: rem-calc(35);
		}

		@media #{$small-up} {
			margin: rem-calc(-10 0 0 0);
			padding-bottom: rem-calc(10);
			text-align: center;
		}
		@media #{$large-up} {
			margin: rem-calc(-10 0 0 0);
			padding-right: rem-calc(10);
			text-align: left;
		}
	}

	&__address {
		@media #{$small-up} {
			text-align: center;
		}
		@media #{$large-up} {
			text-align: left;
		}
	}

	&__copyright {
		@media #{$large-up} {
			float: right;
			text-align: right;
		}
		@media #{$small-up} {
			margin: rem-calc(0 0 24 0);
			text-align: center;
		}
	}
}
