<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Boilerplate</title>

    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit." />

    <script src="https://use.typekit.net/muw0hai.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel="stylesheet" href="/assets/css/main.css" />

    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>

<body>

    <!-- Global header and navigation -->
<header class="header">
    <div class="container">
        <a href="#" class="nav-toggle" id="nav-toggle"><i></i> Menu</a>
        <div class="header__brand">
            <a href="/templates/">
                Logo
            </a>
        </div>
        <nav class="nav-collapse header__nav">
            <ul class="header__nav__items">
                <li class="header__nav__item"><a href="/templates/modules.html">Modules</a></li>
            </ul>
        </nav>
    </div>
</header>

    <main class="main slide" role="main">
        
    <div class="site-content">
    	<!-- Module - Hero -->
<div class="module module--hero module--background-image" style="background-image: url('https://placeimg.com/640/480/nature/grayscale');">
	<div class="row">
		<div class="small-12 columns">
            <div class="module__content">
                <div class="module__header">
                    <h1>Helping solve water challenges.</h1>
                </div>
                <div class="module__body">
                    Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </div>
                <div class="module__button">
                    <a href="#" class="button button__hollow">Our Focus</a>
                </div>
            </div>
		</div>
	</div>
</div>

    </div>

    </main>

    <!-- global footer -->
<footer class="footer">
    <div class="row">
    	<div class="large-2 medium-12 columns footer-social">
            <a href="#">
              <i class="footer-social__icon fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="footer-social__icon fa fa-linkedin"></i>
            </a>
    		<a href="#">
			  <i class="footer-social__icon fa fa-twitter"></i>
        	</a>
    	</div>
        <div class="large-6 medium-12 columns footer__address">
        	100 West Road, Suite 150, Houston, TX 12345
        </div>
        <div class="large-4 medium-12 columns footer__copyright">
			&copy; 2015 Boilerplate, All rights reserved.
        </div>
    </div>
</footer>


    <script src="/assets/js/main.js"></script>

</body>

</html>
