<!-- global footer -->
<footer class="footer">
    <div class="row">
    	<div class="large-2 medium-12 columns footer-social">
            <a href="#">
              <i class="footer-social__icon fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="footer-social__icon fa fa-linkedin"></i>
            </a>
    		<a href="#">
			  <i class="footer-social__icon fa fa-twitter"></i>
        	</a>
    	</div>
        <div class="large-6 medium-12 columns footer__address">
        	100 West Road, Suite 150, Houston, TX 12345
        </div>
        <div class="large-4 medium-12 columns footer__copyright">
			&copy; 2015 Boilerplate, All rights reserved.
        </div>
    </div>
</footer>
