<!-- Global header and navigation -->
<header class="header">
    <div class="container">
        <a href="#" class="nav-toggle" id="nav-toggle"><i></i> Menu</a>
        <div class="header__brand">
            <a href="/templates/">
                Logo
            </a>
        </div>
        <nav class="nav-collapse header__nav">
            <ul class="header__nav__items">
                <li class="header__nav__item"><a href="/templates/modules.html">Modules</a></li>
            </ul>
        </nav>
    </div>
</header>